<!-- action tells us where to go when the form is submitted -->
<form action="{% url 'home' %}" method="post">
  <!-- For method type post we require this csrf tag -->
  {% csrf_token %}
  <!-- as_p renders each of the form elements inside a p tag..Similarly we have as_ul, as_table etc in django -->
  {{form.as_p}}
  <!-- Value is the one which gets displayed visually -->
  <input type="submit" name="submit" value="Hash">
</form>

<h2 id='quickhash'></h2>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- Keyup means this function gets executed when in this selected element a key stroke is generated -->
<script type="text/javascript">
  $('#id_text').keyup(function(){
    var text=$(this).val();
    $.ajax({
      url:'/quickhash',
      data:{
        'text':text
      },
      dataType:'json',
      success:function(data){
        $('#quickhash').text(data['hashed_text']);
      }
    });
  });
</script>
